
// Nav links



nav {
  
  $nav-adjustment: calc(10px + 1rem);
  
  flex: 1 1 auto;
  //margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  
  ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-left: 0;
  margin: 0;
  width: 100%;
  height: auto;
    
    li {
     
      list-style-type: none;     
      margin: 0 2px;
      min-width: 5em;
      height: 100%;
      text-align: center;
      font-size: 1em;
     // width: 100%;
      
      
      a {
      
          background: rgba($dark-lavendar, 0.3);
          color: $white;
          width: 100%;
          display: block;
          padding: 15px;
        border-radius: 3px;
        
        &:hover {
          background: $black;
          color: $purpleywhite;
          transition: all 200ms ease;
          border-radius: 3px;
          outline: none;
        }
        
        &:focus {
          background-color: $pinkish;
        }
      }
      
      .selected {
        background-color: $pinkish;
        cursor: default;
        
        &:hover {
           background: $pinkish;
          color: $black;
        }
        
        li a {
          cursor: crosshair;
        }
      }
   
      
    }
  }
}

.selectedCategory {
        background-color: $pinkish;
        cursor: default;
       
        
        &:hover {
           background: $pinkish;
          color: $black;
        }
        
        
      }
